
<div class="container">


    <section class="section-welcome" style="height:auto;">
        <h1 class="blue-grey-text text-darken-2 center-align font-georgia">OddWorx</h1>
        <h5 class="center-align  grey-text"><span class="font-georgia">Coming soon!</span></h5>
    </section>

    <section class="section-cards">
        <div class="row">
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <a href="#"><img src="~/Images/art-backdrop-bright-53265.jpg" /></a>

                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Images/design-lamps-lights-2918.jpg" />
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Images/art-creative-creativity-1660.jpg" />
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Images/apartment-architecture-carpet-584399.jpg" />
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Images/art-backdrop-bright-53265.jpg" />
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Images/art-backdrop-bright-53265.jpg" />
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

            @*<div class="col s12 m4 l2">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Images/art-creative-creativity-1660.jpg" />
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>
                                I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>*@



            @*<div class="col s12 m4 l2">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Images/art-backdrop-bright-53265.jpg" />
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>
                                I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4 l2">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Images/apartment-architecture-carpet-584399.jpg" />
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>
                                I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4 l2">
                    <div class="card">
                        <div class="card-image">

                            <img src="~/Images/bricks-brickwall-indoors-112811.jpg" />
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>
                                I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>*@


        </div>
    </section>
</div>
