
<!-- Section : Slider -->

<section class="section-welcome" style="height:400px;">
    <h1 class="blue-grey-text text-darken-2 center-align font-georgia" >OddWorx</h1>
    <h5 class="center-align  grey-text"><span class="font-georgia">Coming soon!</span></h5>
</section>