@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Home</h1>
    }
    else
    {
        <h1>Welcome to the Oddworx Shop Home Page</h1>
        <h3 class="center">You need to login to access the site.</h3>
    }
</div>
